body{
	margin: 0;
	height: 100%;
	background-color: #4F5D75;
	font-family: 'Dosis', sans-serif;
}

header{
	display: flex;
	justify-content: center;
	background-color: #2D3142;
	color: #EF8354;
	margin: 0;
	font-family: 'Dosis', sans-serif;
	font-weight: bold;
}

h1{
	margin: 0;
	font-size: 60px;
}

h3{
	margin-top: 0;
	text-align: center;
}

li{
	margin: 0;
}

ul{
	list-style-type: none;
	padding: 0;
	text-align: center;
}

footer{
	position: fixed;
	z-index: 1;
	width: 100%;
	bottom: 0;
	background-color: #2D3142;
	color: #EF8354;
	margin: 0;
	font-family: 'Dosis', sans-serif;
	font-style: italic;
	font-size: 12px;
	padding: 0;
}

img {
	max-width: 400px;
	max-height: auto;
}

#searchWrapper{
	padding-top: 15px;
	width: auto;
	display: flex;
	justify-content: center;
}

#contentWrapper{
	padding-top: 40px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

#giginfo{
	display: flex;
	flex-wrap: wrap;
}

#bandImage{
	position: relative;
	max-height: 400px;
	max-width:400px;
	padding-right: 10px;
}

#bandImage:hover #imageText{
	opacity: 1;
}

#textContainer{
	position: absolute;
	height: 400px;
	width: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#imageText{
	color: white;
	opacity: 0;
}

#bandImage:onHover{

}

#map{
	padding-left: 5px;
	padding-right: 5px;
  	width: 400px;
  	height: 400px;
  	z-index: 0;
}

#events{
	padding-left: 10px;
	max-height: 400px;
	max-width:400px;
  	width: auto;
  	color: #EF8354;
  	overflow: scroll;
}

#footerlist{
	margin: 0;
}

